$o-grid-is-silent: false;
$o-table-is-silent: false;
$o-forms-is-silent: false;
$o-big-number-is-silent: false;

@import 'n-normalize/main';
@import 'o-colors/main';
@import 'o-grid/main';
@import 'o-table/main';
@import 'o-forms/main';
@import 'o-big-number/main';

$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;

body {
  @include oColorsFor(page, background);

  margin: 0;
  border: 0;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a {
    text-decoration: none;
    color: #2e6e9e;
  }
}

.o-big-number{
    font-family: MetricWeb, sans-serif;
    color: #333;
    border-left: 0px;
    padding-left: 0px;
}

.o-big-number__title {
  display: block;
  color: #bb6d82;
  font-size: 4em;
  font-weight: bold;
  line-height: 1em;
}



.site-header {
  padding: 14px 0 10px;
  text-align: center;
  border-bottom: 1px solid #e9decf;
  margin-bottom: 10px;

  > a {
    opacity: 0.75;
    &:hover { opacity: 1; }
  }
}
    .masthead {
      height: 14px;
    }

//intro panel

.main-panel {
    // width:55%;
    float: none;
    margin-top: 16px;
    p:first-of-type {
      font-size: 16px;
    }
    .o-typography-flyline__link,
    .article__byline a {
      color: #9e2f50;
      text-transform: none;
      text-decoration: none;
      font-weight: 600;
      &:hover {
        border-bottom-color: #4f1828;
        color: #4f1828;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
      }
    }
    .o-typography-flyline__link {
      font-size: 18px;
    }
    .article__byline {
      margin-right: 10px;
    }
    .article__timestamp {
      font-size: 13px;
      line-height: 1.2em;
      color: #8b572a;
      text-transform: uppercase;
    }
    p {
      text-align: left;
      margin: 12px 0;
    }
    h1 {
      font-family: $font-display;
      font-size: 2em;
      font-weight: normal;
      font-style: normal;
      width: 100%;
      padding-top: 16px;
      margin-bottom: 8px;
      border-top: 1px solid #e9decf;
      margin-top: 8px;
    }
    p.introtext {
      text-align: left;
    }
    .introtext {
      font-family: $font-display, Georgia, serif;
      font-size: 18px;
      color: oColorsGetPaletteColor('grey-tint4');
      max-width: 600px;
      line-height: 22px;
      margin: 0 auto 0.8em;
      a {
         color: oColorsGetColorFor(link, text);
         text-decoration: none;
      }
    }

    .share-links {
        // text-align: center;
        // margin-bottom: 30px;
        float: right;
        position: relative;
        bottom: 12px;
    }

    .share-links__link:hover {
    opacity: .8;
}
a:hover {
    color: #112d30;
}

.share-links{text-align:center}.share-links__link{display:inline-block;margin:0 5px;height:33px;width:33px;background-size:33px;background-position:50%;background-repeat:no-repeat;border-radius:33px;opacity:.3}.share-links__link:hover{opacity:.3; background-color:#cec6b9;}.share-links__link--twitter{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(1 1.045)'%3E%3Cpath fill='%23000' d='M20.85 10.9c.6-.36 1.07-.96 1.3-1.67-.58.35-1.2.6-1.87.74-.54-.6-1.3-.96-2.14-.96-1.62 0-2.93 1.38-2.93 3.05 0 .24.05.47.1.7-2.44-.13-4.6-1.34-6.04-3.17-.25.44-.4.97-.4 1.52 0 1.04.52 1.97 1.3 2.52-.47-.02-.92-.16-1.32-.38v.04c0 1.47 1 2.7 2.35 2.97-.25.07-.5.1-.78.1-.18 0-.36 0-.54-.05.37 1.2 1.45 2.08 2.74 2.1-1 .82-2.27 1.3-3.64 1.3-.24 0-.47 0-.7-.03 1.3.86 2.84 1.36 4.5 1.36 5.37 0 8.32-4.62 8.32-8.63V12c.56-.42 1.06-.96 1.45-1.57-.53.24-1.1.4-1.68.48z'/%3E%3Cellipse cx='15.02' cy='15.02' stroke='%23000' opacity='.6' rx='15.02' ry='15.02'/%3E%3C/g%3E%3C/svg%3E")}.share-links__link--facebook{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(1 1)'%3E%3Cellipse cx='14.934' cy='14.934' stroke='%23000' opacity='.6' rx='14.934' ry='14.934'/%3E%3Cpath fill='%23000' d='M13.45 12.742h-1.22v2.078h1.22V21h2.493v-6.18h1.68s.153-.996.23-2.084h-1.9v-1.423c0-.213.275-.5.54-.5h1.36V8.65H16.01c-2.622 0-2.56 2.083-2.56 2.393v1.7z'/%3E%3C/g%3E%3C/svg%3E")}.share-links__link--linkedin{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(1 1.045)'%3E%3Cpath fill='%23000' d='M22.27 22.23V16.2c0-1.23-.32-2.17-.95-2.8-.63-.66-1.47-.98-2.52-.98-.38 0-.73.06-1.06.16-.34.1-.6.24-.82.4-.2.15-.4.3-.55.46-.16.15-.27.28-.33.4l-.1.16v-1.28H13.1v9.5h2.83v-5c0-.67.16-1.2.47-1.56.3-.37.75-.56 1.33-.56 1.07 0 1.6.7 1.6 2.13v5h2.94zm-11.04-9.5H8.28v9.5h2.95v-9.5zm-2.73-1.8c.35.35.76.53 1.24.53s.9-.18 1.23-.52c.34-.34.5-.76.5-1.25 0-.5-.16-.9-.5-1.27-.34-.34-.75-.5-1.23-.5s-.9.17-1.23.5C8.2 8.8 8 9.2 8 9.7s.18.9.5 1.24z'/%3E%3Cellipse cx='15.02' cy='15.02' stroke='%23000' opacity='.6' rx='15.02' ry='15.02'/%3E%3C/g%3E%3C/svg%3E")}.share-links__link>span{margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0 0 0 0);clip:rect(0,0,0,0);position:absolute}



    .slider-holder {
        width: 95%;
        float: none;
        height: 50px;
        border-radius: 6px;
        background-color: #f6e9d8;
        margin-bottom: 16px;
        padding: 5px 5px 5px 8px;
    }
}


p {
  font-family: MetricWeb;
  font-weight: 400;
  font-size: 18px;
  margin: 8px 0 0 0;
}

.byline {
  font: 14px/1.20 FinancierText;
  text-align: center;
  color: #333;
}

.o-big-number__content {
  font-size: 16px;
  color: oColorsGetPaletteColor('grey-tint3');
}

.dynamictext {
  margin-top: 20px;
  color: oColorsGetPaletteColor('grey-tint5');
  .dynamictext__highlights {
    color: #76acb8;
    font-weight: 600;
  }
}
.pressentation {
  font-smooth: auto;
  display: block;
  margin: 0 auto;
  font-family: MetricWeb;
  font-size: 16px;
  color: #6b6e68;
  fill:#6b6e68;//This is included because it applies to some svg type on the axis
}

.o-forms-group {
  padding: 0;
}
.inputs{
  float: left;
  display: block;
  height: 100%;
}

.inputs2{
  margin-top: 6px;
  float: left;
  display: block;
}

.outputs{
  margin-top: 0px;
  display: block;
  font-weight: 600;
}

.chart {
  width: 100%;
  height: 300px;
}

.slideholder {
  float:left;
  color:#6b6e68;
  width: 95%;
  font-weight: 600;
  position: relative;
  margin: 8px 0 0 0;
  opacity: 1.0;
  font-family: MetricWeb;
}
.slideholderTop {
  color:#6b6e68;
  float:left;
  width: 95%;
  font-weight: 600;
  position: relative;
  margin: 0 0 0 0;
  opacity: 1.0;
  font-family: MetricWeb;
}

#testi2 {
  margin-top: 14px;
}
.dim {
  float:left;
  width: 95%;
  text-align: left;
  font-weight: 600;
  position: relative;
  margin: 8px 0 0 0;
  opacity: 0.3;
}

.rangeleft {
  float:left;
  text-align: left;
  width: 50%;
  font-weight: 400;
  font-family: MetricWeb;
  font-size: 18px;
  color: #43423e;
}

.rangeright {
  float: right;
  text-align: right;
  width: 50%;
  font-weight: 400;
  font-family: MetricWeb;
  font-size: 18px;
  color: #43423e;
}

.question {
  margin-bottom: 10px
}

.slideLabelBig {
  font-family: MetricWeb;
  background-color: #bb6d82;
  color: #fff;
  width: 68px;
  height: 22px;
  position: absolute;
  text-align: center; 
  border-radius: 8px; 
  display: inline-block;
  font-weight: 400;
}


.slideLabelSmall {
  font-family: MetricWeb;
  background-color: #bb6d82;
  color: #fff;
  width: 30px;
  height: 22px;
  position: absolute;
  text-align: center; 
  border-radius: 8px; 
  display: inline-block;
  font-weight: 400;
}

.resultsTable {
  margin-top: 30px;
}

.title {
  font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
  display: block;
  color: #bb6d82;
  font-size: 1.5em;
  font-weight: bold;
}
.table {
  padding-left:12px;
  margin-top: 10px;
}
//Charts styling
.dots {
  fill:#ffffff;
  stroke: #bb6d82;
  stroke-width: 2px;
}

.axis {
  font-weight: 400;
}

.axis path {
  stroke: #9ba497;
  fill: none;

}
.axis line {
  fill: none;
  stroke: #9ba497;
  shape-rendering: crispEdges;
}
.tick line {
  
}
.diffLabe{
  position:relative;
  margin: 0 0 0 0 ;
  width: 95px;
  color:  #43423e;
  background-color: #fff1e0;
  font-family: MetricWeb;
  font-size: 18px;
  font-weight: 400;
}
.diffLabeplus{
  font-weight: 600;
  color: #76acb8;
  }

.area {
  fill: #ecafaf;
}
//fill: #bb6d82;
.area2 {
  fill: #bb6d82;
}

.dynamicHolder{
  margin-top: 20px;
}

.dynamicText{
  font-family: MetricWeb;
  font-weight: 400;
  font-size: 18px;
  display: inline;
  text-align: left;
}

.dynamichighlights {
  font-family: MetricWeb;
  font-weight: 400;
  font-size: 18px;
  display: inline;
  font-weight: 600;
  color: #76acb8;
}

//End chart styling

///

@include oGridRespondTo(S) {

  .main-panel {
    margin-top: 6px;
    h1 {
      font-size: 42px;
      margin-top: 6px;
    }
    .introtext {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 1em;
      color: oColorsGetPaletteColor('grey-tint4');
       -webkit-font-smoothing: antialiased;
      max-width: 780px;
    }
    .share-links {
        bottom: 14px;
    }
    .slider-holder {
      width: 50%;
      float: right;
      height: 50px;
    }
  }
}

@include oGridRespondTo(M) {
  .main-panel {
    margin-top: 16px;
    .o-typography-flyline__link {
      font-size: 20px;
    }
    p {
      text-align: center;
    }
    h1 {
      font-size: 50px;
      margin-top: 10px;
      text-align: center;
    }
    .introtext {
      font-size: 22px;
      line-height: 26px;
    }
  }
  p {
    font-size: 20px;
    margin: 15px 0 0 0;
  }

  .site-header {
    padding: 18px 0 14px;
    margin-bottom: 20px;
  }
  .masthead {
      height: 18px;
  }

  .intro {
    font: 19px/1.3 FinancierText;
     // max-width: 744px;
  }

  .byline {
    font: 16px/1.20 FinancierText;
  }

  .pressentation {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    // max-width: 744px; 
  }
  
  .inputs{
    margin-top: 20px;
  }

  .outputs{
    margin-top: 20px;
  }

  .inputs2{
    margin-top: 0px;
  }
  .slideLabel {
    font-size: 20px;
  }

  .slideholderTop {
    font-size: 20px;
  }

  .slideholder {
    font-size: 20px;
    margin: 6px 0 0 0;
  }

  .rangeleft {
    font-size: 20px;
  }

  .rangeright {
      font-size: 20px;
    }
  
  .chart {
    height: 390px;
  }

  .axis {
    font-size: 20px;
  }

  .dynamicHolder{
    margin-top: 20px;
  }

  .dynamicText{
    width: 85%;
    font-size: 20px;
  }

  .dynamichighlights {
    font-size: 20px;
  }
  
  .diffLabe{
    font-size: 22px;
  }
  
  .diffLabeplus{
    font-size: 22px;
    }

}

@include oGridRespondTo(L) {
  .main-panel {
    h1 {
      font-size: 56px;
      padding-top: 30px;
    }
    .introtext {
      font-size: 24px;
      line-height: 28px;
    }
  }
  .pressentation {
    font-size: 20px;
  }
}

.stories__heading {
  font-size: 1.25em;
  font-weight: 200;
  padding-bottom: 3px;
  margin-top: 1em;
}

.stories__container {
  background-color: oColorsGetPaletteColor('pink-tint1');
  padding: 0 10px;
  border-top: 1px solid oColorsGetPaletteColor('pink-tint3');
  margin-bottom: 1em;
}

.stories__story--container {
  padding: 10px 0;
  a {
    text-decoration: none;
    color: #2e6e9e;
  }
}

.stories__story--headline {
  margin-bottom: 6px;
}

.stories__story--image {
  float: left;
  margin-right: 0.3em;
  margin-bottom: 0.2em;
  img {
    width: 95px;
  }
}

.stories__story--blurb {
  color: oColorsGetPaletteColor('grey-tint4');
  font-size: 0.9em;
  line-height: 1.2em;
  position: relative;
  top: -4px;
}

///////sliders stytled through webkit 
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 37px auto 12px auto;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #b8b1a9;
  border-radius: 7px;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 4px solid #a9546e;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #c4beb7;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #b8b1a9;
  border-radius: 7px;
  border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 3px solid #a9546e;
  height: 32px;
  width: 32px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #aca49b;
  border: 0px solid #010101;
  border-radius: 14px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-fill-upper {
  background: #b8b1a9;
  border: 0px solid #010101;
  border-radius: 14px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 4px solid #a9546e;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #b8b1a9;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #c4beb7;
}

//media buttons
// share links
$twitter-logo: 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTMgLTEwMyA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS04MS44NjItODkuNzg2Yy0uODIuMzU3LTEuNy42LTIuNjI0LjcwOC45NDMtLjU1NiAxLjY2OC0xLjQzNiAyLjAxLTIuNDgzLS44ODMuNTEtMS44NjIuODgtMi45MDIgMS4wOC0uODMzLS44Ny0yLjAyLTEuNDItMy4zMzctMS40Mi0yLjUyMyAwLTQuNTcgMi4wMS00LjU3IDQuNDkgMCAuMzUuMDQuNjkuMTE4IDEuMDItMy44LS4xOS03LjE2Ny0xLjk3OC05LjQyLTQuNjktLjM5NC42Ni0uNjIgMS40My0uNjIgMi4yNiAwIDEuNTUuODA3IDIuOTMgMi4wMzMgMy43My0uNzUtLjAyNS0xLjQ1NC0uMjI4LTIuMDctLjU2di4wNTRjMCAyLjE3NiAxLjU3MyAzLjk5IDMuNjY3IDQuNC0uMzg0LjEwNC0uNzkuMTYtMS4yMDQuMTYtLjMgMC0uNTgtLjAyNy0uODYtLjA4LjU4IDEuNzgyIDIuMjcgMy4wOCA0LjI3IDMuMTE2LTEuNTcgMS4yMDUtMy41NCAxLjkyMy01LjY4IDEuOTIzLS4zNyAwLS43NC0uMDI2LTEuMDktLjA2NyAyLjAyIDEuMjcyIDQuNDIgMi4wMTUgNyAyLjAxNSA4LjQgMCAxMy02Ljg0IDEzLTEyLjc3IDAtLjE5NC0uMDA3LS4zOS0uMDE4LS41OC44OS0uNjMzIDEuNjY1LTEuNDI1IDIuMjgtMi4zMjV6Ii8+PC9zdmc+';

$facebook-logo: 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTQgLTEwNSA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS05Ny05MS40NHYyLjk1aC0yLjE3djMuNjJILTk3djEwLjcyaDQuNDN2LTEwLjcyaDNzLjI2LTEuNzMuNC0zLjYyaC0zLjM4di0yLjQ3YzAtLjM3LjUtLjg3Ljk2LS44N2gyLjQzdi0zLjc1aC0zLjI4Yy00LjY2IDAtNC41NSAzLjYzLTQuNTUgNC4xNnoiLz48L3N2Zz4=';

$linked-in-logo: 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTMgLTEwMyA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS0xMDMuMzMyLTkxLjMzYy41My41MzUgMS4xNy44MDMgMS45MTcuODAzLjc1IDAgMS4zODgtLjI2OCAxLjkxNy0uODAzLjUzLS41MzUuNzk1LTEuMTgzLjc5NS0xLjk0MiAwLS43Ni0uMjY1LTEuNDA0LS43OTUtMS45MzRzLTEuMTctLjc5NS0xLjkxNy0uNzk1Yy0uNzQ4IDAtMS4zODcuMjYtMS45MTcuNzlzLS43OTUgMS4xNy0uNzk1IDEuOTMuMjY1IDEuNDA3Ljc5NSAxLjk0MnptNC4yMzYgMTcuNTgzdi0xNC44M2gtNC41ODh2MTQuODNoNC41ODh6bTE3LjIyMyAwdi05LjM5YzAtMS45MjMtLjQ5LTMuMzg3LTEuNDc1LTQuMzkyLS45ODMtMS0yLjI5NC0xLjUtMy45MzMtMS41LS41OSAwLTEuMTUuMDg2LTEuNjcuMjU1LS41Mi4xNy0uOTQuMzc0LTEuMjcuNjE1LS4zMy4yNC0uNjE3LjQ4LS44Ni43Mi0uMjQ4LjI0LS40Mi40NDItLjUxOC42MDZsLS4xNjUuMjZ2LTEuOTk2aC00LjQwOHYxNC44M2g0LjQwN3YtNy43ODVjMC0xLjA2LjI0LTEuODguNzItMi40Ni40ODQtLjU4IDEuMTc3LS44NjcgMi4wODQtLjg2NyAxLjY3IDAgMi41MDggMS4xMSAyLjUwOCAzLjMyN3Y3Ljc4aDQuNTc0eiIvPjwvc3ZnPg==';

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.share-links-holder {
  max-width: 720px;
  margin: 0 auto;
}

.share-links {  
  // margin-left: 10px;
  text-align: center;
  > p { 
    @include visually-hidden;
  }

  > ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 8px;
    > li {
      display: inline-block;
    }
  }



  &__link {
    $size: 40px;

    display: block;
    width: $size;
    height: $size;
    border-radius: 2px;
    background-size: $size $size;

    &--twitter { background-image: url('data:image/svg+xml;base64,' + $twitter-logo); }
    &--facebook { background-image: url('data:image/svg+xml;base64,' + $facebook-logo); }
    &--linked-in { background-image: url('data:image/svg+xml;base64,' + $linked-in-logo); }

    &:hover { background-color: oColorsGetPaletteColor('pink-tint2'); }
    &:active { background-color: oColorsGetPaletteColor('pink-tint3'); }

    > span { @include visually-hidden; }
  }
  // &:after {
  //   display: block;
  //   content: '';
  //   border-bottom: 1px solid oColorsGetPaletteColor('pink-tint4');
  //   width: 100px;
  //   margin: 0 auto;
  // }
}



